<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <javaScriptServices>
      <apps>
        <!-- <app name="nextjs-styleguide-app"
             deploymentSecret="8h7acimqr5qvf9lgqp9xgiidzsbyewtjn2jakwqbstlw"
             debugSecurity="false"
        /> -->
      </apps>
    </javaScriptServices>
  </sitecore>
</configuration>
