<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <javaScriptServices>
      <apps>
        <app name="styleguide-nextjs-app"
             deploymentSecret="kr78qrb8ixm93zmlca3t1rklg41nfdvhahc631o7rn"
             debugSecurity="false"
        />
      </apps>
    </javaScriptServices>
  </sitecore>
</configuration>
